.error-div {
  color: red;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: right;
  margin-bottom: 3px;
}
.eyeselector {
  position: absolute;
  top: 0;
  right: 0;
  height: 100% !important;
}

.input-group-text {
  padding: 0;
}

.password-div {
  position: relative;
}