<div style="display: flex; justify-content: center; margin-top: 30px">
  <p style="font-size: 40px; font-weight: 800">WELCOME TO INFLUENCER MARKETING</p>
</div>
<div id="home_quicklinks">
  <a class="quicklink link1" routerLink="/admin">
      <span class="ql_caption">
          <span class="outer">
              <span class="inner">
                  <h2>ADMIN</h2>
              </span>
          </span>
      </span>
      <span class="ql_top"></span>
      <span class="ql_bottom"></span>
  </a>



  <a class="quicklink link3" routerLink="/influencer">
      <span class="ql_caption">
          <span class="outer">
              <span class="inner">
                  <h2>Influencer </h2>
              </span>
          </span>
      </span>
      <span class="ql_top"></span>
      <span class="ql_bottom"></span>
  </a>

  <div class="clear"></div>
</div>
